/* Airwire v0.0.1 */
/* Reset */
*, ::before, ::after { border-color: currentColor; border-width: 0; border-style: solid; box-sizing: border-box; }
html { font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif; font-feature-settings: normal; line-height: 1.5; -webkit-text-size-adjust: 100%; -moz-tab-size: 2; tab-size: 2; }
body { line-height: inherit; margin: 0; }
hr { border-top-width: 1px; color: inherit; height: 0; }
abbr:where([title]) { text-decoration: underline; -webkit-text-decoration: underline dotted; text-decoration: underline dotted; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
a { color: inherit; text-decoration: inherit; }
b, strong { font-weight: bolder; }
code, kbd, samp, pre { font-family: ui-monospace, monospace; font-size: 1em; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
table { border-color: inherit; border-collapse: collapse; text-indent: 0; }
button, input, optgroup, select, textarea { color: inherit; font-family: inherit; font-size: 100%; font-weight: inherit; line-height: inherit; margin: 0; padding: 0; }
button, select { text-transform: none; }
button, [type="button"], [type="reset"], [type="submit"] { background-color: transparent; background-image: none; -webkit-appearance: button; }
:-moz-focusring { outline: auto; }
:-moz-ui-invalid { box-shadow: none; }
progress { vertical-align: baseline; }
::-webkit-inner-spin-button, ::-webkit-outer-spin-button { height: auto; }
[type="search"] { outline-offset: -2px; -webkit-appearance: textfield; }
::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
summary { display: list-item; }
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre { margin: 0; }
fieldset { margin: 0; padding: 0; }
legend { padding: 0; }
ol, ul, menu { list-style: none; margin: 0; padding: 0; }
textarea { resize: vertical; }
input::-moz-placeholder, textarea::-moz-placeholder { opacity: 1; }
input::placeholder, textarea::placeholder { opacity: 1; }
button, [role="button"] { cursor: pointer; }
:disabled { cursor: default; }
img, svg, video, canvas, audio, iframe, embed, object { display: block; vertical-align: middle; }
img, video { max-width: 100%; height: auto; }
[hidden] { display: none; }
/* Variables */
:where(html) { --aspect-1x1: 1; --aspect-4x3: 4/3; --aspect-3x4: 3/4; --aspect-16x9: 16/9; --aspect-18x5: 18/5; --aspect-golden: 1.618/1; }
/* Aspect Ratio */
.aspect-1x1 { aspect-ratio: var( --aspect-1x1 ); }
.aspect-4x3 { aspect-ratio: var( --aspect-4x3 ); }
.aspect-3x4 { aspect-ratio: var( --aspect-3x4 ); }
.aspect-16x9 { aspect-ratio: var( --aspect-16x9 ); }
.aspect-18x5 { aspect-ratio: var( --aspect-18x5 ); }
.aspect-golden { aspect-ratio: var( --aspect-golden ); }
/* Box Decoration Break */
.box-decoration-clone { -webkit-box-decoration-break: clone; box-decoration-break: clone; }
.box-decoration-slice { -webkit-box-decoration-break: slice; box-decoration-break: slice; }
/* Box Sizing */
.box-border { box-sizing: border-box; }
.box-content { box-sizing: content-box; }
@media (min-width: 40em) {
 .sm\:aspect-1x1 { aspect-ratio: var( --aspect-1x1 ); }
 .sm\:aspect-4x3 { aspect-ratio: var( --aspect-4x3 ); }
 .sm\:aspect-3x4 { aspect-ratio: var( --aspect-3x4 ); }
 .sm\:aspect-16x9 { aspect-ratio: var( --aspect-16x9 ); }
 .sm\:aspect-18x5 { aspect-ratio: var( --aspect-18x5 ); }
 .sm\:aspect-golden { aspect-ratio: var( --aspect-golden ); }
 .sm\:box-decoration-clone { -webkit-box-decoration-break: clone; box-decoration-break: clone; }
 .sm\:box-decoration-slice { -webkit-box-decoration-break: slice; box-decoration-break: slice; }
 .sm\:box-border { box-sizing: border-box; }
 .sm\:box-content { box-sizing: content-box; } }
@media (min-width: 48em) {
 .md\:aspect-1x1 { aspect-ratio: var( --aspect-1x1 ); }
 .md\:aspect-4x3 { aspect-ratio: var( --aspect-4x3 ); }
 .md\:aspect-3x4 { aspect-ratio: var( --aspect-3x4 ); }
 .md\:aspect-16x9 { aspect-ratio: var( --aspect-16x9 ); }
 .md\:aspect-18x5 { aspect-ratio: var( --aspect-18x5 ); }
 .md\:aspect-golden { aspect-ratio: var( --aspect-golden ); }
 .md\:box-decoration-clone { -webkit-box-decoration-break: clone; box-decoration-break: clone; }
 .md\:box-decoration-slice { -webkit-box-decoration-break: slice; box-decoration-break: slice; }
 .md\:box-border { box-sizing: border-box; }
 .md\:box-content { box-sizing: content-box; } }
@media (min-width: 64em) {
 .lg\:aspect-1x1 { aspect-ratio: var( --aspect-1x1 ); }
 .lg\:aspect-4x3 { aspect-ratio: var( --aspect-4x3 ); }
 .lg\:aspect-3x4 { aspect-ratio: var( --aspect-3x4 ); }
 .lg\:aspect-16x9 { aspect-ratio: var( --aspect-16x9 ); }
 .lg\:aspect-18x5 { aspect-ratio: var( --aspect-18x5 ); }
 .lg\:aspect-golden { aspect-ratio: var( --aspect-golden ); }
 .lg\:box-decoration-clone { -webkit-box-decoration-break: clone; box-decoration-break: clone; }
 .lg\:box-decoration-slice { -webkit-box-decoration-break: slice; box-decoration-break: slice; }
 .lg\:box-border { box-sizing: border-box; }
 .lg\:box-content { box-sizing: content-box; } }
@media (min-width: 80em) {
 .xl\:aspect-1x1 { aspect-ratio: var( --aspect-1x1 ); }
 .xl\:aspect-4x3 { aspect-ratio: var( --aspect-4x3 ); }
 .xl\:aspect-3x4 { aspect-ratio: var( --aspect-3x4 ); }
 .xl\:aspect-16x9 { aspect-ratio: var( --aspect-16x9 ); }
 .xl\:aspect-18x5 { aspect-ratio: var( --aspect-18x5 ); }
 .xl\:aspect-golden { aspect-ratio: var( --aspect-golden ); }
 .xl\:box-decoration-clone { -webkit-box-decoration-break: clone; box-decoration-break: clone; }
 .xl\:box-decoration-slice { -webkit-box-decoration-break: slice; box-decoration-break: slice; }
 .xl\:box-border { box-sizing: border-box; }
 .xl\:box-content { box-sizing: content-box; } }
