/* Space Between */

@responsive {
  .space-x-0 > * + * {
    margin-left: var(--size-0);
  }
  .space-x-px > * + * {
    margin-left: var(--size-px);
  }
  .space-x-1 > * + * {
    margin-left: var(--size-1);
  }
  .space-x-2 > * + * {
    margin-left: var(--size-2);
  }
  .space-x-3 > * + * {
    margin-left: var(--size-3);
  }
  .space-x-4 > * + * {
    margin-left: var(--size-4);
  }
  .space-x-5 > * + * {
    margin-left: var(--size-5);
  }
  .space-x-6 > * + * {
    margin-left: var(--size-6);
  }
  .space-x-7 > * + * {
    margin-left: var(--size-7);
  }
  .space-x-8 > * + * {
    margin-left: var(--size-8);
  }
  .space-x-9 > * + * {
    margin-left: var(--size-9);
  }
  .space-x-10 > * + * {
    margin-left: var(--size-10);
  }
  .space-x-11 > * + * {
    margin-left: var(--size-11);
  }
  .space-x-12 > * + * {
    margin-left: var(--size-12);
  }
  .space-y-0 > * + * {
    margin-top: var(--size-0);
  }
  .space-y-px > * + * {
    margin-top: var(--size-px);
  }
  .space-y-1 > * + * {
    margin-top: var(--size-1);
  }
  .space-y-2 > * + * {
    margin-top: var(--size-2);
  }
  .space-y-3 > * + * {
    margin-top: var(--size-3);
  }
  .space-y-4 > * + * {
    margin-top: var(--size-4);
  }
  .space-y-5 > * + * {
    margin-top: var(--size-5);
  }
  .space-y-6 > * + * {
    margin-top: var(--size-6);
  }
  .space-y-7 > * + * {
    margin-top: var(--size-7);
  }
  .space-y-8 > * + * {
    margin-top: var(--size-8);
  }
  .space-y-9 > * + * {
    margin-top: var(--size-9);
  }
  .space-y-10 > * + * {
    margin-top: var(--size-10);
  }
  .space-y-11 > * + * {
    margin-top: var(--size-11);
  }
  .space-y-12 > * + * {
    margin-top: var(--size-12);
  }
}
