/* Height */

@responsive {
  .h-0 {
    height: var(--size-0);
  }
  .h-px {
    height: var(--size-px);
  }
  .h-1 {
    height: var(--size-1);
  }
  .h-2 {
    height: var(--size-2);
  }
  .h-3 {
    height: var(--size-3);
  }
  .h-4 {
    height: var(--size-4);
  }
  .h-5 {
    height: var(--size-5);
  }
  .h-6 {
    height: var(--size-6);
  }
  .h-7 {
    height: var(--size-7);
  }
  .h-8 {
    height: var(--size-8);
  }
  .h-9 {
    height: var(--size-9);
  }
  .h-10 {
    height: var(--size-10);
  }
  .h-11 {
    height: var(--size-11);
  }
  .h-12 {
    height: var(--size-12);
  }
  .h-25 {
    height: calc(100% / 4);
  }
  .h-33 {
    height: calc(100% / 3);
  }
  .h-50 {
    height: calc(100% / 2);
  }
  .h-67 {
    height: calc(100% / 1.5);
  }
  .h-75 {
    height: calc(100% / 1.333333333);
  }
  .h-full {
    height: 100%;
  }
  .h-min {
    height: min-content;
  }
  .h-max {
    height: max-content;
  }
  .h-fit {
    height: fit-content;
  }
  .h-auto {
    height: auto;
  }
  .vh-25 {
    height: calc(100vh / 4);
  }
  .vh-33 {
    height: calc(100vh / 3);
  }
  .vh-50 {
    height: calc(100vh / 2);
  }
  .vh-67 {
    height: calc(100vh / 1.5);
  }
  .vh-75 {
    height: calc(100vh / 1.333333333);
  }
  .vh-full {
    height: 100vh;
  }
}
