/* Max-Width */

@responsive {
  .max-w-xs {
    max-width: var(--content-xs);
  }
  .max-w-sm {
    max-width: var(--content-sm);
  }
  .max-w-md {
    max-width: var(--content-md);
  }
  .max-w-lg {
    max-width: var(--content-lg);
  }
  .max-w-xl {
    max-width: var(--content-xl);
  }
  .max-w-2xl {
    max-width: var(--content-2xl);
  }
  .max-w-3xl {
    max-width: var(--content-3xl);
  }
  .max-w-4xl {
    max-width: var(--content-4xl);
  }
  .max-w-prose-xs {
    max-width: var(--content-prose-xs);
  }
  .max-w-prose-sm {
    max-width: var(--content-prose-sm);
  }
  .max-w-prose-md {
    max-width: var(--content-prose-md);
  }
  .max-w-prose-lg {
    max-width: var(--content-prose-lg);
  }
  .max-w-full {
    max-width: 100%;
  }
  .max-w-min {
    max-width: min-content;
  }
  .max-w-max {
    max-width: max-content;
  }
  .max-w-fit {
    max-width: fit-content;
  }
  .max-w-none {
    max-width: none;
  }
}
