/* Font Size */

@responsive {
  .text-xs {
    font-size: var(--text-xs);
    line-height: var(--line-height-1);
  }
  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--line-height-2);
  }
  .text-md {
    font-size: var(--text-md);
    line-height: var(--line-height-3);
  }
  .text-lg {
    font-size: var(--text-lg);
    line-height: var(--line-height-4);
  }
  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--line-height-4);
  }
  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--line-height-5);
  }
  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--line-height-6);
  }
  .text-4xl {
    font-size: var(--text-4xl);
    line-height: var(--line-height-7);
  }
  .text-5xl {
    font-size: var(--text-5xl);
    line-height: var(--line-height-8);
  }
  .text-6xl {
    font-size: var(--text-6xl);
    line-height: var(--line-height-none);
  }
  .text-7xl {
    font-size: var(--text-7xl);
    line-height: var(--line-height-none);
  }
  .text-8xl {
    font-size: var(--text-8xl);
    line-height: var(--line-height-none);
  }
}
