/* Border Color */

.border-white {
  border-color: var(--white);
}
.border-black {
  border-color: var(--black);
}
.border-gray-0 {
  border-color: var(--gray-0);
}
.border-gray-1 {
  border-color: var(--gray-1);
}
.border-gray-2 {
  border-color: var(--gray-2);
}
.border-gray-3 {
  border-color: var(--gray-3);
}
.border-gray-4 {
  border-color: var(--gray-4);
}
.border-gray-5 {
  border-color: var(--gray-5);
}
.border-gray-6 {
  border-color: var(--gray-6);
}
.border-gray-7 {
  border-color: var(--gray-7);
}
.border-gray-8 {
  border-color: var(--gray-8);
}
.border-gray-9 {
  border-color: var(--gray-9);
}
.border-red-0 {
  border-color: var(--red-0);
}
.border-red-1 {
  border-color: var(--red-1);
}
.border-red-2 {
  border-color: var(--red-2);
}
.border-red-3 {
  border-color: var(--red-3);
}
.border-red-4 {
  border-color: var(--red-4);
}
.border-red-5 {
  border-color: var(--red-5);
}
.border-red-6 {
  border-color: var(--red-6);
}
.border-red-7 {
  border-color: var(--red-7);
}
.border-red-8 {
  border-color: var(--red-8);
}
.border-red-9 {
  border-color: var(--red-9);
}
.border-orange-0 {
  border-color: var(--orange-0);
}
.border-orange-1 {
  border-color: var(--orange-1);
}
.border-orange-2 {
  border-color: var(--orange-2);
}
.border-orange-3 {
  border-color: var(--orange-3);
}
.border-orange-4 {
  border-color: var(--orange-4);
}
.border-orange-5 {
  border-color: var(--orange-5);
}
.border-orange-6 {
  border-color: var(--orange-6);
}
.border-orange-7 {
  border-color: var(--orange-7);
}
.border-orange-8 {
  border-color: var(--orange-8);
}
.border-orange-9 {
  border-color: var(--orange-9);
}
.border-yellow-0 {
  border-color: var(--yellow-0);
}
.border-yellow-1 {
  border-color: var(--yellow-1);
}
.border-yellow-2 {
  border-color: var(--yellow-2);
}
.border-yellow-3 {
  border-color: var(--yellow-3);
}
.border-yellow-4 {
  border-color: var(--yellow-4);
}
.border-yellow-5 {
  border-color: var(--yellow-5);
}
.border-yellow-6 {
  border-color: var(--yellow-6);
}
.border-yellow-7 {
  border-color: var(--yellow-7);
}
.border-yellow-8 {
  border-color: var(--yellow-8);
}
.border-yellow-9 {
  border-color: var(--yellow-9);
}
.border-green-0 {
  border-color: var(--green-0);
}
.border-green-1 {
  border-color: var(--green-1);
}
.border-green-2 {
  border-color: var(--green-2);
}
.border-green-3 {
  border-color: var(--green-3);
}
.border-green-4 {
  border-color: var(--green-4);
}
.border-green-5 {
  border-color: var(--green-5);
}
.border-green-6 {
  border-color: var(--green-6);
}
.border-green-7 {
  border-color: var(--green-7);
}
.border-green-8 {
  border-color: var(--green-8);
}
.border-green-9 {
  border-color: var(--green-9);
}
.border-blue-0 {
  border-color: var(--blue-0);
}
.border-blue-1 {
  border-color: var(--blue-1);
}
.border-blue-2 {
  border-color: var(--blue-2);
}
.border-blue-3 {
  border-color: var(--blue-3);
}
.border-blue-4 {
  border-color: var(--blue-4);
}
.border-blue-5 {
  border-color: var(--blue-5);
}
.border-blue-6 {
  border-color: var(--blue-6);
}
.border-blue-7 {
  border-color: var(--blue-7);
}
.border-blue-8 {
  border-color: var(--blue-8);
}
.border-blue-9 {
  border-color: var(--blue-9);
}
.border-indigo-0 {
  border-color: var(--indigo-0);
}
.border-indigo-1 {
  border-color: var(--indigo-1);
}
.border-indigo-2 {
  border-color: var(--indigo-2);
}
.border-indigo-3 {
  border-color: var(--indigo-3);
}
.border-indigo-4 {
  border-color: var(--indigo-4);
}
.border-indigo-5 {
  border-color: var(--indigo-5);
}
.border-indigo-6 {
  border-color: var(--indigo-6);
}
.border-indigo-7 {
  border-color: var(--indigo-7);
}
.border-indigo-8 {
  border-color: var(--indigo-8);
}
.border-indigo-9 {
  border-color: var(--indigo-9);
}
.border-violet-0 {
  border-color: var(--violet-0);
}
.border-violet-1 {
  border-color: var(--violet-1);
}
.border-violet-2 {
  border-color: var(--violet-2);
}
.border-violet-3 {
  border-color: var(--violet-3);
}
.border-violet-4 {
  border-color: var(--violet-4);
}
.border-violet-5 {
  border-color: var(--violet-5);
}
.border-violet-6 {
  border-color: var(--violet-6);
}
.border-violet-7 {
  border-color: var(--violet-7);
}
.border-violet-8 {
  border-color: var(--violet-8);
}
.border-violet-9 {
  border-color: var(--violet-9);
}
.border-inherit {
  border-color: inherit;
}
.border-current {
  border-color: currentColor;
}
.border-transparent {
  border-color: transparent;
}
