/* Text Color */

.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-gray-50 {
  color: var(--gray-50);
}
.text-gray-100 {
  color: var(--gray-100);
}
.text-gray-200 {
  color: var(--gray-200);
}
.text-gray-300 {
  color: var(--gray-300);
}
.text-gray-400 {
  color: var(--gray-400);
}
.text-gray-500 {
  color: var(--gray-500);
}
.text-gray-600 {
  color: var(--gray-600);
}
.text-gray-700 {
  color: var(--gray-700);
}
.text-gray-800 {
  color: var(--gray-800);
}
.text-gray-900 {
  color: var(--gray-900);
}
.text-red-50 {
  color: var(--red-50);
}
.text-red-100 {
  color: var(--red-100);
}
.text-red-200 {
  color: var(--red-200);
}
.text-red-300 {
  color: var(--red-300);
}
.text-red-400 {
  color: var(--red-400);
}
.text-red-500 {
  color: var(--red-500);
}
.text-red-600 {
  color: var(--red-600);
}
.text-red-700 {
  color: var(--red-700);
}
.text-red-800 {
  color: var(--red-800);
}
.text-red-900 {
  color: var(--red-900);
}
.text-orange-50 {
  color: var(--orange-50);
}
.text-orange-100 {
  color: var(--orange-100);
}
.text-orange-200 {
  color: var(--orange-200);
}
.text-orange-300 {
  color: var(--orange-300);
}
.text-orange-400 {
  color: var(--orange-400);
}
.text-orange-500 {
  color: var(--orange-500);
}
.text-orange-600 {
  color: var(--orange-600);
}
.text-orange-700 {
  color: var(--orange-700);
}
.text-orange-800 {
  color: var(--orange-800);
}
.text-orange-900 {
  color: var(--orange-900);
}
.text-yellow-50 {
  color: var(--yellow-50);
}
.text-yellow-100 {
  color: var(--yellow-100);
}
.text-yellow-200 {
  color: var(--yellow-200);
}
.text-yellow-300 {
  color: var(--yellow-300);
}
.text-yellow-400 {
  color: var(--yellow-400);
}
.text-yellow-500 {
  color: var(--yellow-500);
}
.text-yellow-600 {
  color: var(--yellow-600);
}
.text-yellow-700 {
  color: var(--yellow-700);
}
.text-yellow-800 {
  color: var(--yellow-800);
}
.text-yellow-900 {
  color: var(--yellow-900);
}
.text-green-50 {
  color: var(--green-50);
}
.text-green-100 {
  color: var(--green-100);
}
.text-green-200 {
  color: var(--green-200);
}
.text-green-300 {
  color: var(--green-300);
}
.text-green-400 {
  color: var(--green-400);
}
.text-green-500 {
  color: var(--green-500);
}
.text-green-600 {
  color: var(--green-600);
}
.text-green-700 {
  color: var(--green-700);
}
.text-green-800 {
  color: var(--green-800);
}
.text-green-900 {
  color: var(--green-900);
}
.text-teal-50 {
  color: var(--teal-50);
}
.text-teal-100 {
  color: var(--teal-100);
}
.text-teal-200 {
  color: var(--teal-200);
}
.text-teal-300 {
  color: var(--teal-300);
}
.text-teal-400 {
  color: var(--teal-400);
}
.text-teal-500 {
  color: var(--teal-500);
}
.text-teal-600 {
  color: var(--teal-600);
}
.text-teal-700 {
  color: var(--teal-700);
}
.text-teal-800 {
  color: var(--teal-800);
}
.text-teal-900 {
  color: var(--teal-900);
}
.text-cyan-50 {
  color: var(--cyan-50);
}
.text-cyan-100 {
  color: var(--cyan-100);
}
.text-cyan-200 {
  color: var(--cyan-200);
}
.text-cyan-300 {
  color: var(--cyan-300);
}
.text-cyan-400 {
  color: var(--cyan-400);
}
.text-cyan-500 {
  color: var(--cyan-500);
}
.text-cyan-600 {
  color: var(--cyan-600);
}
.text-cyan-700 {
  color: var(--cyan-700);
}
.text-cyan-800 {
  color: var(--cyan-800);
}
.text-cyan-900 {
  color: var(--cyan-900);
}
.text-blue-50 {
  color: var(--blue-50);
}
.text-blue-100 {
  color: var(--blue-100);
}
.text-blue-200 {
  color: var(--blue-200);
}
.text-blue-300 {
  color: var(--blue-300);
}
.text-blue-400 {
  color: var(--blue-400);
}
.text-blue-500 {
  color: var(--blue-500);
}
.text-blue-600 {
  color: var(--blue-600);
}
.text-blue-700 {
  color: var(--blue-700);
}
.text-blue-800 {
  color: var(--blue-800);
}
.text-blue-900 {
  color: var(--blue-900);
}
.text-purple-50 {
  color: var(--purple-50);
}
.text-purple-100 {
  color: var(--purple-100);
}
.text-purple-200 {
  color: var(--purple-200);
}
.text-purple-300 {
  color: var(--purple-300);
}
.text-purple-400 {
  color: var(--purple-400);
}
.text-purple-500 {
  color: var(--purple-500);
}
.text-purple-600 {
  color: var(--purple-600);
}
.text-purple-700 {
  color: var(--purple-700);
}
.text-purple-800 {
  color: var(--purple-800);
}
.text-purple-900 {
  color: var(--purple-900);
}
.text-pink-50 {
  color: var(--pink-50);
}
.text-pink-100 {
  color: var(--pink-100);
}
.text-pink-200 {
  color: var(--pink-200);
}
.text-pink-300 {
  color: var(--pink-300);
}
.text-pink-400 {
  color: var(--pink-400);
}
.text-pink-500 {
  color: var(--pink-500);
}
.text-pink-600 {
  color: var(--pink-600);
}
.text-pink-700 {
  color: var(--pink-700);
}
.text-pink-800 {
  color: var(--pink-800);
}
.text-pink-900 {
  color: var(--pink-900);
}
.text-inherit {
  color: inherit;
}
.text-current {
  color: currentColor;
}
.text-transparent {
  color: transparent;
}
