/* Text Colors */

.text-white {
  color: var(--white);
}
.text-black {
  color: var(--black);
}
.text-gray-0 {
  color: var(--gray-0);
}
.text-gray-1 {
  color: var(--gray-1);
}
.text-gray-2 {
  color: var(--gray-2);
}
.text-gray-3 {
  color: var(--gray-3);
}
.text-gray-4 {
  color: var(--gray-4);
}
.text-gray-5 {
  color: var(--gray-5);
}
.text-gray-6 {
  color: var(--gray-6);
}
.text-gray-7 {
  color: var(--gray-7);
}
.text-gray-8 {
  color: var(--gray-8);
}
.text-gray-9 {
  color: var(--gray-9);
}
.text-red-0 {
  color: var(--red-0);
}
.text-red-1 {
  color: var(--red-1);
}
.text-red-2 {
  color: var(--red-2);
}
.text-red-3 {
  color: var(--red-3);
}
.text-red-4 {
  color: var(--red-4);
}
.text-red-5 {
  color: var(--red-5);
}
.text-red-6 {
  color: var(--red-6);
}
.text-red-7 {
  color: var(--red-7);
}
.text-red-8 {
  color: var(--red-8);
}
.text-red-9 {
  color: var(--red-9);
}
.text-orange-0 {
  color: var(--orange-0);
}
.text-orange-1 {
  color: var(--orange-1);
}
.text-orange-2 {
  color: var(--orange-2);
}
.text-orange-3 {
  color: var(--orange-3);
}
.text-orange-4 {
  color: var(--orange-4);
}
.text-orange-5 {
  color: var(--orange-5);
}
.text-orange-6 {
  color: var(--orange-6);
}
.text-orange-7 {
  color: var(--orange-7);
}
.text-orange-8 {
  color: var(--orange-8);
}
.text-orange-9 {
  color: var(--orange-9);
}
.text-yellow-0 {
  color: var(--yellow-0);
}
.text-yellow-1 {
  color: var(--yellow-1);
}
.text-yellow-2 {
  color: var(--yellow-2);
}
.text-yellow-3 {
  color: var(--yellow-3);
}
.text-yellow-4 {
  color: var(--yellow-4);
}
.text-yellow-5 {
  color: var(--yellow-5);
}
.text-yellow-6 {
  color: var(--yellow-6);
}
.text-yellow-7 {
  color: var(--yellow-7);
}
.text-yellow-8 {
  color: var(--yellow-8);
}
.text-yellow-9 {
  color: var(--yellow-9);
}
.text-green-0 {
  color: var(--green-0);
}
.text-green-1 {
  color: var(--green-1);
}
.text-green-2 {
  color: var(--green-2);
}
.text-green-3 {
  color: var(--green-3);
}
.text-green-4 {
  color: var(--green-4);
}
.text-green-5 {
  color: var(--green-5);
}
.text-green-6 {
  color: var(--green-6);
}
.text-green-7 {
  color: var(--green-7);
}
.text-green-8 {
  color: var(--green-8);
}
.text-green-9 {
  color: var(--green-9);
}
.text-blue-0 {
  color: var(--blue-0);
}
.text-blue-1 {
  color: var(--blue-1);
}
.text-blue-2 {
  color: var(--blue-2);
}
.text-blue-3 {
  color: var(--blue-3);
}
.text-blue-4 {
  color: var(--blue-4);
}
.text-blue-5 {
  color: var(--blue-5);
}
.text-blue-6 {
  color: var(--blue-6);
}
.text-blue-7 {
  color: var(--blue-7);
}
.text-blue-8 {
  color: var(--blue-8);
}
.text-blue-9 {
  color: var(--blue-9);
}
.text-indigo-0 {
  color: var(--indigo-0);
}
.text-indigo-1 {
  color: var(--indigo-1);
}
.text-indigo-2 {
  color: var(--indigo-2);
}
.text-indigo-3 {
  color: var(--indigo-3);
}
.text-indigo-4 {
  color: var(--indigo-4);
}
.text-indigo-5 {
  color: var(--indigo-5);
}
.text-indigo-6 {
  color: var(--indigo-6);
}
.text-indigo-7 {
  color: var(--indigo-7);
}
.text-indigo-8 {
  color: var(--indigo-8);
}
.text-indigo-9 {
  color: var(--indigo-9);
}
.text-violet-0 {
  color: var(--violet-0);
}
.text-violet-1 {
  color: var(--violet-1);
}
.text-violet-2 {
  color: var(--violet-2);
}
.text-violet-3 {
  color: var(--violet-3);
}
.text-violet-4 {
  color: var(--violet-4);
}
.text-violet-5 {
  color: var(--violet-5);
}
.text-violet-6 {
  color: var(--violet-6);
}
.text-violet-7 {
  color: var(--violet-7);
}
.text-violet-8 {
  color: var(--violet-8);
}
.text-violet-9 {
  color: var(--violet-9);
}
.text-inherit {
  color: inherit;
}
.text-current {
  color: currentColor;
}
.text-transparent {
  color: transparent;
}
