/* Translate */

@responsive {
  .translate-x-0 {
    transform: translateX(var(--size-0));
  }
  .translate-x-25 {
    transform: translateX(calc(100% / 4));
  }
  .translate-x-33 {
    transform: translateX(calc(100% / 3));
  }
  .translate-x-50 {
    transform: translateX(calc(100% / 2));
  }
  .translate-x-67 {
    transform: translateX(calc(100% / 1.5));
  }
  .translate-x-75 {
    transform: translateX(calc(100% / 1.333333333));
  }
  .translate-x-full {
    transform: translateX(100%);
  }
  .translate-y-0 {
    transform: translateY(var(--size-0));
  }
  .translate-y-25 {
    transform: translateY(calc(100% / 4));
  }
  .translate-y-33 {
    transform: translateY(calc(100% / 3));
  }
  .translate-y-50 {
    transform: translateY(calc(100% / 2));
  }
  .translate-y-67 {
    transform: translateY(calc(100% / 1.5));
  }
  .translate-y-75 {
    transform: translateY(calc(100% / 1.333333333));
  }
  .translate-y-full {
    transform: translateY(100%);
  }
  .-translate-x-25 {
    transform: translateX(calc((100% / 4) * -1));
  }
  .-translate-x-33 {
    transform: translateX(calc((100% / 3) * -1));
  }
  .-translate-x-50 {
    transform: translateX(calc((100% / 2) * -1));
  }
  .-translate-x-67 {
    transform: translateX(calc((100% / 1.5) * -1));
  }
  .-translate-x-75 {
    transform: translateX(calc((100% / 1.333333333) * -1));
  }
  .-translate-x-full {
    transform: translateX(calc(100% * -1));
  }
  .-translate-y-25 {
    transform: translateY(calc((100% / 4) * -1));
  }
  .-translate-y-33 {
    transform: translateY(calc((100% / 3) * -1));
  }
  .-translate-y-50 {
    transform: translateY(calc((100% / 2) * -1));
  }
  .-translate-y-67 {
    transform: translateY(calc((100% / 1.5) * -1));
  }
  .-translate-y-75 {
    transform: translateY(calc((100% / 1.333333333) * -1));
  }
  .-translate-y-full {
    transform: translateY(calc(100% * -1));
  }
}
