/* Variables */

:where(html) {
  --aspect-1x1: 1;
  --aspect-4x3: 4/3;
  --aspect-3x4: 3/4;
  --aspect-16x9: 16/9;
  --aspect-18x5: 18/5;
  --aspect-golden: 1.618/1;

  --border-radius-none: 0;
  --border-radius-sm: 0.125rem;
  --border-radius-md: 0.25rem;
  --border-radius-lg: 0.375rem;
  --border-radius-xl: 0.5rem;
  --border-radius-2xl: 0.75rem;
  --border-radius-3xl: 1rem;
  --border-radius-4xl: 1.5rem;
  --border-radius-full: 9999px;

  --box-shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --box-shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --box-shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --box-shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --box-shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --box-shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --box-shadow-inner: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --box-shadow-none: 0 0 #0000;

  --content-xs: 20rem;
  --content-sm: 24rem;
  --content-md: 28rem;
  --content-lg: 32rem;
  --content-xl: 40rem;
  --content-2xl: 48rem;
  --content-3xl: 56rem;
  --content-4xl: 64rem;
  --content-5xl: 72rem;
  --content-6xl: 80rem;
  --content-prose-sm: 24ch;
  --content-prose-md: 32ch;
  --content-prose-lg: 40ch;
  --content-prose-xl: 48ch;
  --content-prose-2xl: 56ch;

  --font-sans: system-ui, sans-serif;
  --font-serif: ui-serif, serif;
  --font-mono: ui-monospace, monospace;

  --letter-spacing-tighter: -0.05em;
  --letter-spacing-tight: -0.025em;
  --letter-spacing-normal: 0em;
  --letter-spacing-wide: 0.025em;
  --letter-spacing-wider: 0.05em;
  --letter-spacing-widest: 0.1em;

  --line-height-1: 1rem;
  --line-height-2: 1.25rem;
  --line-height-3: 1.5rem;
  --line-height-4: 1.75rem;
  --line-height-5: 2rem;
  --line-height-6: 2.25rem;
  --line-height-7: 2.5rem;
  --line-height-8: 2.5rem;
  --line-height-none: 1;
  --line-height-tight: 1.25;
  --line-height-snug: 1.375;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.625;
  --line-height-loose: 2;

  --size-0: 0;
  --size-px: 1px;
  --size-1: 0.125rem;
  --size-2: 0.25rem;
  --size-3: 0.5rem;
  --size-4: 1rem;
  --size-5: 1.5rem;
  --size-6: 2rem;
  --size-7: 3rem;
  --size-8: 4rem;
  --size-9: 5rem;
  --size-10: 7.5rem;
  --size-11: 10rem;
  --size-12: 15rem;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.625rem;
  --text-6xl: 3rem;
  --text-7xl: 3.75rem;
  --text-8xl: 4.5rem;

  /* Colors */

  --white: #ffffff;
  --black: #000000;
  --gray-0: #f9fafb;
  --gray-1: #f3f4f6;
  --gray-2: #e5e7eb;
  --gray-3: #d1d5db;
  --gray-4: #9ca3af;
  --gray-5: #6b7280;
  --gray-6: #4b5563;
  --gray-7: #374151;
  --gray-8: #1f2937;
  --gray-9: #111827;
  --red-0: #fef2f2;
  --red-1: #fee2e2;
  --red-2: #fecaca;
  --red-3: #fca5a5;
  --red-4: #f87171;
  --red-5: #ef4444;
  --red-6: #dc2626;
  --red-7: #b91c1c;
  --red-8: #991b1b;
  --red-9: #7f1d1d;
  --orange-0: #fff7ed;
  --orange-1: #ffedd5;
  --orange-2: #fed7aa;
  --orange-3: #fdba74;
  --orange-4: #fb923c;
  --orange-5: #f97316;
  --orange-6: #ea580c;
  --orange-7: #c2410c;
  --orange-8: #9a3412;
  --orange-9: #7c2d12;
  --yellow-0: #fefce8;
  --yellow-1: #fef9c3;
  --yellow-2: #fef08a;
  --yellow-3: #fde047;
  --yellow-4: #facc15;
  --yellow-5: #eab308;
  --yellow-6: #ca8a04;
  --yellow-7: #a16207;
  --yellow-8: #854d0e;
  --yellow-9: #713f12;
  --green-0: #f0fdf4;
  --green-1: #dcfce7;
  --green-2: #bbf7d0;
  --green-3: #86efac;
  --green-4: #4ade80;
  --green-5: #22c55e;
  --green-6: #16a34a;
  --green-7: #15803d;
  --green-8: #166534;
  --green-9: #14532d;
  --blue-0: #eff6ff;
  --blue-1: #dbeafe;
  --blue-2: #bfdbfe;
  --blue-3: #93c5fd;
  --blue-4: #60a5fa;
  --blue-5: #3b82f6;
  --blue-6: #2563eb;
  --blue-7: #1d4ed8;
  --blue-8: #1e40af;
  --blue-9: #1e3a8a;
  --indigo-0: #eef2ff;
  --indigo-1: #e0e7ff;
  --indigo-2: #c7d2fe;
  --indigo-3: #a5b4fc;
  --indigo-4: #818cf8;
  --indigo-5: #6366f1;
  --indigo-6: #4f46e5;
  --indigo-7: #4338ca;
  --indigo-8: #3730a3;
  --indigo-9: #312e81;
  --violet-0: #f5f3ff;
  --violet-1: #ede9fe;
  --violet-2: #ddd6fe;
  --violet-3: #c4b5fd;
  --violet-4: #a78bfa;
  --violet-5: #8b5cf6;
  --violet-6: #7c3aed;
  --violet-7: #6d28d9;
  --violet-8: #5b21b6;
  --violet-9: #4c1d95;
}
