/* Positioning */

@responsive {
  .top-0 {
    top: var(--size-0);
  }
  .top-px {
    top: var(--size-px);
  }
  .top-1 {
    top: var(--size-1);
  }
  .top-2 {
    top: var(--size-2);
  }
  .top-3 {
    top: var(--size-3);
  }
  .top-4 {
    top: var(--size-4);
  }
  .top-5 {
    top: var(--size-5);
  }
  .top-6 {
    top: var(--size-6);
  }
  .top-7 {
    top: var(--size-7);
  }
  .top-8 {
    top: var(--size-8);
  }
  .top-9 {
    top: var(--size-9);
  }
  .top-10 {
    top: var(--size-10);
  }
  .top-11 {
    top: var(--size-11);
  }
  .top-12 {
    top: var(--size-12);
  }
  .top-25 {
    top: calc(100% / 4);
  }
  .top-33 {
    top: calc(100% / 3);
  }
  .top-50 {
    top: calc(100% / 2);
  }
  .top-67 {
    top: calc(100% / 1.5);
  }
  .top-75 {
    top: calc(100% / 1.333333333);
  }
  .top-full {
    top: 100%;
  }
  .top-auto {
    top: auto;
  }
  .right-0 {
    right: var(--size-0);
  }
  .right-px {
    right: var(--size-px);
  }
  .right-1 {
    right: var(--size-1);
  }
  .right-2 {
    right: var(--size-2);
  }
  .right-3 {
    right: var(--size-3);
  }
  .right-4 {
    right: var(--size-4);
  }
  .right-5 {
    right: var(--size-5);
  }
  .right-6 {
    right: var(--size-6);
  }
  .right-7 {
    right: var(--size-7);
  }
  .right-8 {
    right: var(--size-8);
  }
  .right-9 {
    right: var(--size-9);
  }
  .right-10 {
    right: var(--size-10);
  }
  .right-11 {
    right: var(--size-11);
  }
  .right-12 {
    right: var(--size-12);
  }
  .right-25 {
    right: calc(100% / 4);
  }
  .right-33 {
    right: calc(100% / 3);
  }
  .right-50 {
    right: calc(100% / 2);
  }
  .right-67 {
    right: calc(100% / 1.5);
  }
  .right-75 {
    right: calc(100% / 1.333333333);
  }
  .right-full {
    right: 100%;
  }
  .right-auto {
    right: auto;
  }
  .bottom-0 {
    bottom: var(--size-0);
  }
  .bottom-px {
    bottom: var(--size-px);
  }
  .bottom-1 {
    bottom: var(--size-1);
  }
  .bottom-2 {
    bottom: var(--size-2);
  }
  .bottom-3 {
    bottom: var(--size-3);
  }
  .bottom-4 {
    bottom: var(--size-4);
  }
  .bottom-5 {
    bottom: var(--size-5);
  }
  .bottom-6 {
    bottom: var(--size-6);
  }
  .bottom-7 {
    bottom: var(--size-7);
  }
  .bottom-8 {
    bottom: var(--size-8);
  }
  .bottom-9 {
    bottom: var(--size-9);
  }
  .bottom-10 {
    bottom: var(--size-10);
  }
  .bottom-11 {
    bottom: var(--size-11);
  }
  .bottom-12 {
    bottom: var(--size-12);
  }
  .bottom-25 {
    bottom: calc(100% / 4);
  }
  .bottom-33 {
    bottom: calc(100% / 3);
  }
  .bottom-50 {
    bottom: calc(100% / 2);
  }
  .bottom-67 {
    bottom: calc(100% / 1.5);
  }
  .bottom-75 {
    bottom: calc(100% / 1.333333333);
  }
  .bottom-full {
    bottom: 100%;
  }
  .bottom-auto {
    bottom: auto;
  }
  .left-0 {
    left: var(--size-0);
  }
  .left-px {
    left: var(--size-px);
  }
  .left-1 {
    left: var(--size-1);
  }
  .left-2 {
    left: var(--size-2);
  }
  .left-3 {
    left: var(--size-3);
  }
  .left-4 {
    left: var(--size-4);
  }
  .left-5 {
    left: var(--size-5);
  }
  .left-6 {
    left: var(--size-6);
  }
  .left-7 {
    left: var(--size-7);
  }
  .left-8 {
    left: var(--size-8);
  }
  .left-9 {
    left: var(--size-9);
  }
  .left-10 {
    left: var(--size-10);
  }
  .left-11 {
    left: var(--size-11);
  }
  .left-12 {
    left: var(--size-12);
  }
  .left-25 {
    left: calc(100% / 4);
  }
  .left-33 {
    left: calc(100% / 3);
  }
  .left-50 {
    left: calc(100% / 2);
  }
  .left-67 {
    left: calc(100% / 1.5);
  }
  .left-75 {
    left: calc(100% / 1.333333333);
  }
  .left-full {
    left: 100%;
  }
  .left-auto {
    left: auto;
  }
  .-top-px {
    top: calc(var(--size-px) * -1);
  }
  .-top-1 {
    top: calc(var(--size-1) * -1);
  }
  .-top-2 {
    top: calc(var(--size-2) * -1);
  }
  .-top-3 {
    top: calc(var(--size-3) * -1);
  }
  .-top-4 {
    top: calc(var(--size-4) * -1);
  }
  .-top-5 {
    top: calc(var(--size-5) * -1);
  }
  .-top-6 {
    top: calc(var(--size-6) * -1);
  }
  .-top-7 {
    top: calc(var(--size-7) * -1);
  }
  .-top-8 {
    top: calc(var(--size-8) * -1);
  }
  .-top-9 {
    top: calc(var(--size-9) * -1);
  }
  .-top-10 {
    top: calc(var(--size-10) * -1);
  }
  .-top-11 {
    top: calc(var(--size-11) * -1);
  }
  .-top-12 {
    top: calc(var(--size-12) * -1);
  }
  .-top-25 {
    top: calc((100% / 4) * -1);
  }
  .-top-33 {
    top: calc((100% / 3) * -1);
  }
  .-top-50 {
    top: calc((100% / 2) * -1);
  }
  .-top-67 {
    top: calc((100% / 1.5) * -1);
  }
  .-top-75 {
    top: calc((100% / 1.333333333) * -1);
  }
  .-top-full {
    top: calc(100% * -1);
  }
  .-right-px {
    right: calc(var(--size-px) * -1);
  }
  .-right-1 {
    right: calc(var(--size-1) * -1);
  }
  .-right-2 {
    right: calc(var(--size-2) * -1);
  }
  .-right-3 {
    right: calc(var(--size-3) * -1);
  }
  .-right-4 {
    right: calc(var(--size-4) * -1);
  }
  .-right-5 {
    right: calc(var(--size-5) * -1);
  }
  .-right-6 {
    right: calc(var(--size-6) * -1);
  }
  .-right-7 {
    right: calc(var(--size-7) * -1);
  }
  .-right-8 {
    right: calc(var(--size-8) * -1);
  }
  .-right-9 {
    right: calc(var(--size-9) * -1);
  }
  .-right-10 {
    right: calc(var(--size-10) * -1);
  }
  .-right-11 {
    right: calc(var(--size-11) * -1);
  }
  .-right-12 {
    right: calc(var(--size-12) * -1);
  }
  .-right-25 {
    right: calc((100% / 4) * -1);
  }
  .-right-33 {
    right: calc((100% / 3) * -1);
  }
  .-right-50 {
    right: calc((100% / 2) * -1);
  }
  .-right-67 {
    right: calc((100% / 1.5) * -1);
  }
  .-right-75 {
    right: calc((100% / 1.333333333) * -1);
  }
  .-right-full {
    right: calc(100% * -1);
  }
  .-bottom-px {
    bottom: calc(var(--size-px) * -1);
  }
  .-bottom-1 {
    bottom: calc(var(--size-1) * -1);
  }
  .-bottom-2 {
    bottom: calc(var(--size-2) * -1);
  }
  .-bottom-3 {
    bottom: calc(var(--size-3) * -1);
  }
  .-bottom-4 {
    bottom: calc(var(--size-4) * -1);
  }
  .-bottom-5 {
    bottom: calc(var(--size-5) * -1);
  }
  .-bottom-6 {
    bottom: calc(var(--size-6) * -1);
  }
  .-bottom-7 {
    bottom: calc(var(--size-7) * -1);
  }
  .-bottom-8 {
    bottom: calc(var(--size-8) * -1);
  }
  .-bottom-9 {
    bottom: calc(var(--size-9) * -1);
  }
  .-bottom-10 {
    bottom: calc(var(--size-10) * -1);
  }
  .-bottom-11 {
    bottom: calc(var(--size-11) * -1);
  }
  .-bottom-12 {
    bottom: calc(var(--size-12) * -1);
  }
  .-bottom-25 {
    bottom: calc((100% / 4) * -1);
  }
  .-bottom-33 {
    bottom: calc((100% / 3) * -1);
  }
  .-bottom-50 {
    bottom: calc((100% / 2) * -1);
  }
  .-bottom-67 {
    bottom: calc((100% / 1.5) * -1);
  }
  .-bottom-75 {
    bottom: calc((100% / 1.333333333) * -1);
  }
  .-bottom-full {
    bottom: calc(100% * -1);
  }
  .-left-px {
    left: calc(var(--size-px) * -1);
  }
  .-left-1 {
    left: calc(var(--size-1) * -1);
  }
  .-left-2 {
    left: calc(var(--size-2) * -1);
  }
  .-left-3 {
    left: calc(var(--size-3) * -1);
  }
  .-left-4 {
    left: calc(var(--size-4) * -1);
  }
  .-left-5 {
    left: calc(var(--size-5) * -1);
  }
  .-left-6 {
    left: calc(var(--size-6) * -1);
  }
  .-left-7 {
    left: calc(var(--size-7) * -1);
  }
  .-left-8 {
    left: calc(var(--size-8) * -1);
  }
  .-left-9 {
    left: calc(var(--size-9) * -1);
  }
  .-left-10 {
    left: calc(var(--size-10) * -1);
  }
  .-left-11 {
    left: calc(var(--size-11) * -1);
  }
  .-left-12 {
    left: calc(var(--size-12) * -1);
  }
  .-left-25 {
    left: calc((100% / 4) * -1);
  }
  .-left-33 {
    left: calc((100% / 3) * -1);
  }
  .-left-50 {
    left: calc((100% / 2) * -1);
  }
  .-left-67 {
    left: calc((100% / 1.5) * -1);
  }
  .-left-75 {
    left: calc((100% / 1.333333333) * -1);
  }
  .-left-full {
    left: calc(100% * -1);
  }
}
